set CHIPNAME ep4ce6mb
set FPGA_TAPID 0x020f10dd
# Check and set SVF file from environment variable
if { [info exists env(MY_SVF_FILE)] } {
    set PROJECT_SVF_FILE $env(MY_SVF_FILE)
    puts "PROJECT_SVF_FILE set to: $PROJECT_SVF_FILE"
} else {
    error "Environment variable MY_SVF_FILE is not set!"
}

# Verify SVF file exists
if { ! [file exists $PROJECT_SVF_FILE] } {
    error "SVF file $PROJECT_SVF_FILE does not exist!"
}

adapter driver usb_blaster
adapter speed 1000
usb_blaster lowlevel_driver ftdi


jtag newtap $CHIPNAME tap -irlen 10 -ircapture 0x01 -irmask 0x3 -expected-id $FPGA_TAPID

init
scan_chain
svf $PROJECT_SVF_FILE
exit

